@{ 
    Layout = null;


    string apiControllerMethodUrl = "https://localhost:44361/api/LoggedInAdministratorFacade/CreateNewAirline/";
    string jwtAuthToken = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1bmlxdWVfbmFtZSI6IklTU2RxIiwicm9sZSI6IkFkbWluaXN0cmF0b3IiLCJQYXNzd29yZCI6IldCQTVXIiwibmJmIjoxNTg5MzkyNzkxLCJleHAiOjE1ODk5OTc1OTEsImlhdCI6MTU4OTM5Mjc5MSwiaXNzIjoiaHR0cHM6Ly9sb2NhbGhvc3Q6NDQzNjEvIiwiYXVkIjoiaHR0cHM6Ly9sb2NhbGhvc3Q6NDQzNjEvIn0.fXzA0I0O9OnndyhukVVGoYl-pCleHaeKDTq7PFGjXV8";
    string base64mockImage = "/9j/4AAQSkZJRgABAQEAYABgAAD/2wBDAAgGBgcGBQgHBwcJCQgKDBQNDAsLDBkSEw8UHRofHh0aHBwgJC4nICIsIxwcKDcpLDAxNDQ0Hyc5PTgyPC4zNDL/2wBDAQkJCQwLDBgNDRgyIRwhMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjL/wAARCAAQABADASIAAhEBAxEB/8QAHwAAAQUBAQEBAQEAAAAAAAAAAAECAwQFBgcICQoL/8QAtRAAAgEDAwIEAwUFBAQAAAF9AQIDAAQRBRIhMUEGE1FhByJxFDKBkaEII0KxwRVS0fAkM2JyggkKFhcYGRolJicoKSo0NTY3ODk6Q0RFRkdISUpTVFVWV1hZWmNkZWZnaGlqc3R1dnd4eXqDhIWGh4iJipKTlJWWl5iZmqKjpKWmp6ipqrKztLW2t7i5usLDxMXGx8jJytLT1NXW19jZ2uHi4+Tl5ufo6erx8vP09fb3+Pn6/8QAHwEAAwEBAQEBAQEBAQAAAAAAAAECAwQFBgcICQoL/8QAtREAAgECBAQDBAcFBAQAAQJ3AAECAxEEBSExBhJBUQdhcRMiMoEIFEKRobHBCSMzUvAVYnLRChYkNOEl8RcYGRomJygpKjU2Nzg5OkNERUZHSElKU1RVVldYWVpjZGVmZ2hpanN0dXZ3eHl6goOEhYaHiImKkpOUlZaXmJmaoqOkpaanqKmqsrO0tba3uLm6wsPExcbHyMnK0tPU1dbX2Nna4uPk5ebn6Onq8vP09fb3+Pn6/9oADAMBAAIRAxEAPwDj/DegWmvahLHqUs0VsqqqbDjcxznmmeINFt9D1s2OnSyS27plVdslWzggHvV7wBfXET3dtLJuQqGGBymTyfp79qoeNNQa91VY4WDJaKY8svDEnOPpjArlSlzWO18nsVLqf//Z";


    Flight_Center_Project_FinalExam_DAL.AirlineCompany company = new Flight_Center_Project_FinalExam_DAL.AirlineCompany("-= Even More Super Buper Fancy Airline =-", 276, base64mockImage, Guid.NewGuid().ToString(), "JubJUbJub-1@2", 99999);

    Web_Api_interface.Views.FlightSystemMain.WebClientSideJobDoer<Flight_Center_Project_FinalExam_DAL.AirlineCompany> jobDoer = new Web_Api_interface.Views.FlightSystemMain.WebClientSideJobDoer<Flight_Center_Project_FinalExam_DAL.AirlineCompany>(apiControllerMethodUrl, company, jwtAuthToken);

    string httpResponseMessage = "Bad Bad! Nothing Happened!";

    async System.Threading.Tasks.Task GetPostResult()
    {
        httpResponseMessage = await jobDoer.PostAsJsonAsync();
    }
    //var httpResponseMessage = jobDoer.PostAsJsonAsync();
}
<!DOCTYPE HTML>
<html>
<head>
	<meta http-equiv="content-type" content="text/html" />
	<meta name="author" content="lolkittens" />

    <title>WebClientSideJobDoer Test</title>
    <style>
    body{ 
        background-color: #73BBEE;
        background-image: url('/ViewsImages/FlightSystemMain/background.png');
         }
    .Box{
        width: 100%;
        height: 100px;       
    }
    .FlightsTable
    {
        width: 80%;
        alignment-adjust: middle;
        margin-left:auto;
        margin-right:auto;
        color: white;
        background: #5382a5;
        padding:2px;
        border-spacing:20px;
        text-align: center;
        border: 1px solid black;
        border-collapse: collapse;
        font-family: Arial;        
        font-size: 12px;
    }
    th
    {
        background: #004679;
    }
    tr#_flightTable
    {

    background-image: linear-gradient(#5685a6, #326a93);
    border-bottom: 1px solid #0a4d7e;
    
     
    }    
    .onTopOfTable
    {
     width: 80%;
     
     
          
     margin-left:auto;
     margin-right:auto;
     alignment-adjust: middle;
     color: white;
     font-family: Arial;        
     font-size: 12px;
     padding: 0px;     
     background: #004679;
          
        
    }
    .statusBox
    {        
        margin: 5px;
        padding: 3px;
        width: 60%;
    }
    .upperBox
    {
        font-weight: bold;
    }
    
    </style>
</head>

<body>

    <div class="Box">

    </div>
    <div class="onTopOfTable">
        <div style="margin: 10px; padding: 10px;">
            <table class="upperBox" border="0" cellspacing="0" cellpadding="0" style="background: #b3c8d7; padding: 0; margin: 0; border: 0px; border-spacing: 0; border-collapse: collapse; ">
                <tr>
                    <td><img style="vertical-align: top;" src="~/ViewsImages/FlightSystemMain/upperLeftCorner.gif" width="8" /></td>
                    <td></td>
                    <td><img style="vertical-align: top;" src="~/ViewsImages/FlightSystemMain/upperRightCorner.gif" width="8" /></td>
                </tr>
                <tr>
                    <td></td>
                    <td style="vertical-align: middle;">WebClientSideJobDoer test &nbsp;</td>                    
                    <td></td>
                </tr>
                <tr>
                    <td><img style="vertical-align: bottom;" src="~/ViewsImages/FlightSystemMain/bottomLeftCorner.gif" width="8" /></td>
                    <td></td>
                    <td><img style="vertical-align: bottom;" src="~/ViewsImages/FlightSystemMain/bottomRightCorner.gif" width="8" /></td>
                </tr>
            </table>
        </div>
    </div>

    @{ GetPostResult(); }
    <table border="1" width="60%" align="center" style="padding: 5px;">
        <tr>
            <td style="align-content: center;">@httpResponseMessage;</td>
        </tr>
    </table>

    <div class="Box">

    </div>
</body>
</html>